.signup{
    margin-right:71px;
}
.signup1{
    margin-right:105px;
}
.signup2{
    margin-right:46px;
}
.signup3{
    margin-right:80px;
}
.signup4{
    margin-right:21px;
}
.signup5{
    margin-right:90px;
}