
#form{
    display:none;
}
#loginform{
    display: none;
}
#welcome{
    display: none;
}
#ticktable{
    display:none;
}
#rechargeform{
    display: none;
}
#balancecheck1{
    display:none;
}
#fatable{
    display:none;
}
#travel{
    display: none;
}
#front1{

    display: none;
}
#travletable{
    display:none;
}
#front2{
    display: none;
}
